.carousel {
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply hidden;
	}

	.carousel-vertical {
		scroll-snap-type: y mandatory;
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply flex-col overflow-y-scroll;
	}

	.carousel-horizontal {
		scroll-snap-type: x mandatory;
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply flex-row overflow-x-scroll;
	}

	.carousel-item {
		scroll-snap-align: start;
		/* stylelint-disable-next-line at-rule-no-deprecated */
		@apply box-content flex flex-none;
	}

	.carousel-start {
		.carousel-item {
			scroll-snap-align: start;
		}
	}

	.carousel-center {
		.carousel-item {
			scroll-snap-align: center;
		}
	}

	.carousel-end {
		.carousel-item {
			scroll-snap-align: end;
		}
	}

	/* stylelint-disable-next-line at-rule-no-deprecated */
	@apply inline-flex;
}
